[TRACE]
TRACE_TYPE: 200M-COMP
GAP_BENCHMARK = bfs
                bc
                cc

GRAPH = road.sg
        web.sg
        kron.sg

SPEC_BENCHMARK= GemsFDTD
                omnetpp
                soplex
                mcf
                lbm
                libquantum
                milc
                leslie3d
                sphinx3
                astar
                wrf
                h264ref
                sjeng
                cactusADM
                zeusmp
                bwaves
                gcc
                bzip2
                xalancbmk

MIX_BENCHMARK= mix1.libquantum.omnetpp.soplex.leslie3d
               mix2.lbm.astar.GemsFDTD.milc
   ;soplex,xalancbmk,gcc,h264ref
   ;mcf,sphinx,zeusmp,omnetpp

BENCHMARK_TYPES: gap
    

[SIM]
SST_CONFIG: prospero_mpi
CRAMSIM_CONFIG: ddr4-3200

[DEFAULT_OPTION]
metadata_predictor: 0
pca_enable: 0

[VAR_OPTION]
numPCHs= 1
         2
