[TRACE]
;TRACE_TYPE: l2-F10B-R100M-CYCLE
;TRACE_TYPE: FromL2-F10B-R1B
TRACE_TYPE: FromL2-SP-R1B-COMPRATE-NOCONTENT-1CORE-NEW
;TRACE_TYPE: FromL2-F10B-R1B-COMPRATE-NOCONTENT
GAP_BENCHMARK = bfs 

GRAPH = road.sg

SPEC_BENCHMARK= GemsFDTD
	omnetpp
	soplex
       mcf
	lbm
	libquantum
      milc
     leslie3d
      sphinx3
      astar
      h264ref
      sjeng
      cactusADM
      zeusmp
      bwaves
       gcc
       bzip2
       xalancbmk
 

MIX_BENCHMARK= mix1.libquantum.omnetpp.soplex.leslie3d
               mix2.lbm.astar.GemsFDTD.milc
   ;soplex,xalancbmk,gcc,h264ref
   ;mcf,sphinx,zeusmp,omnetpp

BENCHMARK_TYPES: spec
    
[SIM]
;SST_CONFIG: prospero_nocache
SST_CONFIG: prospero
CRAMSIM_CONFIG: ddr4-3200

[DEFAULT_OPTION]
pca_enable: 1
;stopAtCycle: 1ms
maxInst: 200000000
coreCount: 8
L3CacheSize : 8
metacache_latency : 3
multilane_rowtable : 0
metadata_predictor : 1
metacache_rownum : 8192
[VAR_OPTION]
variable_name : metacache_rpl_policy
variable_value = 0
                 1
                 3
                 4
                 5
